.sidebarContainer {
    display: flex;
    flex-direction: column;
    border-radius: 0.1875rem;
    box-shadow: 0px 7px 62.9px 0px rgba(127, 160, 168, 0.05);
    width: 13.3rem;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    border-right: 1px solid #CFDAE5;
    background: #F9FCFE;
    font-family: "PT Sans", sans-serif;
}

.logoContainer {
    display: flex;
    width: 100%;
    height: 4.25rem;
    padding: 1.3125rem 1.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.5625rem;
    border: 1px solid rgba(160, 183, 191, 0.40);
    background: #F8FDFF;
}

.logoContainer p {
    color: #595DDB;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'PT Sans Caption', sans-serif;
}

.logo {
    width: 1.56481rem;
    height: 1.625rem;
    margin-right: 0.56px;
}

.sidebarButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.42131rem;
    align-items: center;
    gap: 0.52644rem;
    align-self: stretch;
    border-left: 5px solid #6F73F6;
    background: #E9EEFA;
    color: #595DDB;
    font-size: 0.88838rem;
    font-weight: 700;
}

.bottomContainer {
    margin-top: auto;
    width: 100%;
    padding: 0.75rem;
}

.userBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 9.39px 15px;
    float: left;
    border-radius: 5.055px;
    border: 0.722px solid #FBFBFB;
    background: #E9EEFA;
    margin-bottom: 10px;
}

.userImage {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #6F73F6;
}

.plannerName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    font-family: "PT Sans Caption", sans-serif;
}

.plannerName p {
    color: #181B7D;
    font-size: 9.5px;
    font-weight: 700;
}

.plannerName h1 {
    color: #6F73F6;
    font-size: 16px;
    font-weight: 400;
}

.logoutButton {
    display: flex;
    height: 38px;
    padding: 11.242px 19.025px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 3px;
    border: 0.865px solid #D9AAE9;
    background: #6F73F6;
    color: #FFF;
    font-size: 12.972px;
    font-weight: 400;
    font-family: "PT Sans Caption", sans-serif;
}